
.footer {
 background-color: #333;
}

.footer-inner {
 max-width: $baseWidth;
 width: 100%;
 margin-left: auto;
 margin-right: auto;
 padding: 50px 30px 0;
 text-align: center;
 background-image: url(../img/img-footer-msg.png);
 background-position: left 24% bottom 50%;
 background-size: 400px;
 background-repeat: no-repeat;
}

.footer-inner--snswrap {
 text-align: right;
}
.footer-inner--snsf, .footer-inner--snst {
 display: inline-block;
}
.footer-inner--snsf {
 padding-right: 20px;
}

.footer-inner--logowrap {
 position: relative;
 padding-top: 200px;
 display: inline-block;
}

.copyright--wrap {
 text-align: center;
}
.copyright {
 display: inline-block;
 padding: 50px 0 25px;
  @include font-size(14)
  color: #fff;
}