nav.side-menu
 ul.side--menu-list
  li.side--menu-item: a(href="about.html").side-menu-item-link about
  li.side--menu-item: a(href="contact.html").side-menu-item-link  contact
  li.side--menu-item: a(href="service.html").side-menu-item-link  service
.side-menu-btn#js_sideMenuBtn
 .ellipsis-v
  span.point.top
  span.point.mid
  span.point.bot