footer.footer
 .footer-inner
  .footer-inner--snswrap
   .footer-inner--snsf
    img.footer-inner--snsfimg(src="assets/img/img-facebook.png", alt="facebookボタン")
   .footer-inner--snst
    img.footer-inner--snstimg(src="assets/img/img-twitter.png", alt="ツイッターボタン")
  .footer-inner--logowrap
   img.footer-inner--logo(src="assets/img/img-footer-logo.png", alt="ロゴ")
 .copyright--wrap
  small.copyright
   | &copy; coaching All Rights Reserved.

#top-btn.top-btn
 a(href="#").top-btn--link TOPへ