- var sitename = "コーチングを知ろう";
- var sitedescripition = "コーチングのプロフェッショナルを目指すためにできることとは?";

-
  var pages = {
    top : {
      pagecategory : 'top',
      url :'',
      title : 'コーチングについて慣れること。',
      dirPath : '',
      description : '解決策がわかってもそれをどうやって実行するかまでを考えることが必要です。',
      keywords : 'コーチング,選択,解決策,コンサルティング',
    },
    about : {
      pagecategory : 'about',
      url :'',
      title : '私たちの意思',
      dirPath : '',
      description : '常に変化を求められるからこそ意思が必要です。',
      keywords : 'コーチング,選択,解決策,私たちの意思',
    },
    contact : {
      pagecategory : 'contact',
      url :'',
      title : 'コンタクトフォーム',
      dirPath : '',
      description : 'お問い合わせはこちらからお願いします。',
      keywords : 'コーチング,選択,解決策,コンタクトフォーム',
    },
    service : {
      pagecategory : 'service',
      url :'',
      title : 'サービス',
      dirPath : '',
      description : '誰が言っているから使うのかではなく、何を言っているかで使えるサービスです。',
      keywords : 'コーチング,選択,解決策,サービス',
    },
  }